@font-face {
    font-family: 'openSansBold';
    src: local('openSansBold'), url(./Fonts/OpenSansCondensed-Bold.ttf) format('truetype');
}
body {
    background: url('./Images/portfolio-background.png') no-repeat fixed center center;
    background-size: cover;
    color: #ffffff;
    font-family: openSansBold, sans-serif;
}
.links {
    padding: 5px;
    font-size: 125%;
    margin-right: 10px;
}
.activeLink {
    border-bottom: solid 3px #0066cc;
}
.images, .videos {
    max-width: 100%;
}